<html>
    <header>
        <nav>
            <ul class="header-nav">
                <li><a href="/"></a>HOME</li>
                <li><a href="/gallery">Gallery</a></li>
                <li class="dropdown">
                  <a class="drop-triger" href="/blog">Blog</a>
                  <ul class="drio-menu"></ul>
                </li>
                <li><a href="#">NAV 2</a></li>
                <li><a href="#">NAV 3</a></li>
            </ul>
        </nav>
        <a href="/" class="header-logo1">
            <!-- <img src="\Learning\CSS\image\cat.jpg" alt="Learn Enough"> -->
        </a>
    </header>
<head>
    <title>7.4 Three Column Page Layout</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="E:\Learning\CSS\css\main.css">
</head>

<body>
   
        <div class="gallery col-three">
                <div class="col col-nav gallery-thumbs" id="gallery-thumbs">
                  <div class="current">
                    <img src="E:\Learning\CSS\images\small\slide1.jpg" alt="Image title 1">
                  </div>
                  <div>
                    <img src="E:\Learning\CSS\images\small\slide1.jpg" alt="Image title 2">
                  </div>
                </div>
                <div class="col col-content">
                  <div class="gallery-photo" id="gallery-photo">
                    <img src="E:\Learning\CSS\images\large\slide1.jpg" alt="Image title 1">
                  </div>
                </div>
                <div class="col col-aside gallery-info" id="gallery-info">
                  <h3>Image Title 1</h3>
                  <p>Image description 1</p>
                </div>
              </div>
</body>

</html>